img{
	border-radius: 50%;
	width: 70%;
	margin: 5% 0% 0% 20%;
}
p{
	width: 80%;
	font-size: 20px;
	font-family:  Comic Sans MS;
}
h1{
	font-size: 60px;
	font-family: 'Lobster';
	letter-spacing: 3px;
}
